* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans";
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

p {
  font-weight: normal;
  color: rgba(30, 28, 97, 0.65);
}

h1 {
  font-size: 30px;
  line-height: 37.95px;
  font-weight: bold;
  color: #1e1c61;
}

h3 {
  font-weight: 500;
}

a {
  font-weight: normal;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

section {
  width: 100%;
  height: 100vh;
}

button {
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}

input {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 73px;
  padding: 15px;
  border: 0;
  outline: none;
}

/***************************** Reusable Menu */

.menu {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background: transparent;
}

.--dash {
  background: #f9f9f9 !important;
}

.--doc {
  padding: 10px 25px;
}

.menu button {
  background: transparent;
}

.menu button.--user {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: linear-gradient(to right, #5a4980 50%, #534378 100%);
  clip-path: circle();
}

.menu button.--user img {
  margin-bottom: -15px;
}

.menu--center {
  display: none;
  background: transparent;
  transition: all 0.5s linear;
  height: 50px;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  animation: appear 0.5s linear;
}

.menu--center li {
  margin: 0px 10px;
}
.menu--center li a {
  color: #f57e71;
  z-index: 3;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
