@media screen and (max-width: 1224px) {
  .desktop {
    display: none;
  }
}

/*************************
        HOMEPAGE     
*************************/
.homepage {
  background: url("../images/graphics/homepage_bg.webp") bottom left no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.homepage__title {
  margin: 140px 67px 8px 40px;
  color: #1e1c61;
  font-size: 30px;
}

.homepage__description {
  margin: 0 4px 15px 40px;
  font-size: 16px;
  line-height: 24px;
}

.homepage__btn {
  width: 145px;
  height: 40px;
  background: #ef716b;
  border-radius: 35px;
  margin: 0 190px auto 40px;
  color: white;
}

.homepage__btn:hover, .homepage__btn:active

/*************************
        LOGIN     
*************************/
.login {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__go-back {
  content: "";
  width: 70px;
  height: 70px;
  margin: 10px 0 50px;
  align-self: flex-start;
  background-color: white;
}

.login__go-back img {
  filter: drop-shadow(20px 10px 0px #1e1c61);
}

.login__form {
  width: 70%;
  height: 80vh;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.login__form label {
  border: none;
  margin: 50px auto 20px;
  color: rgba(30, 28, 97, 0.65);
}

.login__form input {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 73px;
  padding: 15px;
  border: 0;
}

.login__form button {
  width: 145px;
  height: 40px;
  background: #ef716b;
  border-radius: 73px;
  margin: 50px auto 20px;
  color: white;
}

.login__form span.login__form__validate {
  font-size: 8px;
  margin: 5px auto;
  color: #ef716b;
}

.login__form p {
  text-align: center;
  margin-top: auto;
}

/*************************
        FIND YOUR DOC     
*************************/
.find-your-doctor {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orange;
  display: none;
}
